<h1>Whose that Digimon? Oh Hi Grace!</h1>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Agumon</mat-card-title>
      <mat-card-subtitle>Vaccine Type Digimon</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/agumon.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Agumon the baby form of Wargreymon, can warp evolution into Wargreymon
        secret attack: fire ball jutsu
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Biyomon</mat-card-title>
      <mat-card-subtitle>Vaccine Type Digimon</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/Biyomon.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        this birdy is rad
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shin Chan</mat-card-title>
      <mat-card-subtitle>not a digimon</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/shin.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Space Cake boy
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  