
<mat-card class="example-card">
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)"> 
      <mat-card-title>Login</mat-card-title>
      
    <mat-form-field>
        <input type="email" 
        matInput placeholder="your email" 
        ngModel name="email"
        email required>

     
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="should be at least">
        <input type="password" 
        matInput placeholder="your password" 
        ngModel name="password"
        required
        minlength="6"
        #pwInput="ngModel">

        <mat-hint align="end"> {{pwInput.value?.length}}/ 6 </mat-hint>
    </mat-form-field>

    <br>
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color="warn">Reset</button>

    
    </form>

</mat-card>